# Entorno virtual
venv/
.venv/

# Variables de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
.flaskenv

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Bases de datos locales
*.db
*.sqlite
*.sqlite3